/* Register.css */

.register-container {
  background-color: white; /* White background */
  color: #3c3c3c; /* Dark grey text */
  border-radius: 8px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-title {
  color: #3c3c3c; /* Dark grey text */
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #4d4d4d; /* Light grey border */
  background-color: #f4f4f4; /* Light grey background */
  color: #3c3c3c; /* Dark grey text */
  border-radius: 4px;
}

.register-input::placeholder {
  color: #3c3c3c; /* Dark grey placeholder */
}

.register-button {
  padding: 12px;
  background-color: #3c3c3c; /* Dark grey button */
  color: white; /* White text */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #4d4d4d; /* Lighter grey on hover */
}
.register-error {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
